---
layout: archive
permalink: /blog/
title: "Posts by Date"
author_profile: true
---
Welcome to my blog! This is where I post about ideas on upcoming projects I have in mind and provide a high level
overview on these potential projects. If you have any interesting projects for me to actualize, do reach out to me!

{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}